<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form class="container">
    <ng-container *ngIf="isNonPayment()">
      <div class="row from-group">
        <label for="selectUser" class="form-label">User</label
        ><select
          class="form-select form-control"
          name="selectUser"
          id="selectUser"
          [(ngModel)]="selectedUser"
        >
          <ng-container *ngFor="let user of selectUser.data">
            <option [value]="user.id">{{ user.name }}</option>
          </ng-container>
        </select>
      </div>
      <div class="row from-group mt-2">
        <label for="selectTitle" class="form-label">Title</label
        ><select
          class="form-select form-control"
          name="selectTitle"
          id="selectTitle"
          [(ngModel)]="selectedTitle"
        >
          <ng-container *ngFor="let title of selectTitle.data">
            <option [value]="title.id">{{ title.title }}</option>
          </ng-container>
        </select>
      </div>
      <div class="row from-group mt-2">
        <label for="inputValue" class="form-label">Value</label>
        <input
          type="text"
          class="form-control"
          id="inputValue"
          [(ngModel)]="obj.value"
          name="value"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="isUser()">
      <div class="row from-group">
        <label for="inputName" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          [(ngModel)]="obj.name"
          name="name"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="isTitle() && !isNonPayment()">
      <div class="row from-group">
        <label for="inputTitle" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="inputTitle"
          [(ngModel)]="obj.title"
          name="title"
        />
      </div>
    </ng-container>

    <div class="row from-group mt-2">
      <button (click)="save()">
        <fa-icon [icon]="faSave"></fa-icon>
        Save
      </button>
    </div>
  </form>
</div>
